{% extends 'base.html.twig' %}

{% block title %}NosPlats index{% endblock %}

{% block body %}
    <h1>NosPlats index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Date</th>
                <th>Img</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nos_plat in nos_plats %}
            <tr>
                <td>{{ nos_plat.id }}</td>
                <td>{{ nos_plat.name }}</td>
                <td>{{ nos_plat.description }}</td>
                <td>{{ nos_plat.price }}</td>
                <td>{{ nos_plat.date ? nos_plat.date|date('Y-m-d') : '' }}</td>
                <td>{{ nos_plat.img }}</td>
                <td>
                    <a href="{{ path('nos_plats_show', {'id': nos_plat.id}) }}">show</a>
                    <a href="{{ path('nos_plats_edit', {'id': nos_plat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('nos_plats_new') }}">Create new</a>
{% endblock %}
