{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <h1>Commande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commande.id }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ commande.price }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ commande.numero }}</td>
            </tr>
            <tr>
                <th>Date_cmde</th>
                <td>{{ commande.dateCmde ? commande.dateCmde|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_commande_index') }}">back to list</a>

    <a href="{{ path('admin_commande_edit', {'id': commande.id}) }}">edit</a>

    {{ include('admin_commande/_delete_form.html.twig') }}
{% endblock %}
